<div class="container-grid">
    
    <!-- container-navbar -->
    <div class="container-navbar">
        <app-navbar></app-navbar> 
    </div>

    <!-- container-panel-control -->
    <div class="container-panel-control">
        <app-driver-panel></app-driver-panel>
    </div>

    <!-- container-topfive -->
    <div class="container-topfive">
        
        <div class="card container-card">
            <!-- container-title -->
            <header class="card-header">
                <p class="card-header-title">
                    Top five drivers
                </p>
            </header>

            <div class="card-content">
                <!-- <app-driver-topfive></app-driver-topfive> -->
            </div>
        </div>
    </div>

    <!-- container-table -->
    <div class="container-table">
        <div class="box">
            <app-driver-table></app-driver-table>
        </div>

        <div class="container-buttons">
            <label for="" class="label">Software de Inventario y Generación de Reportes para Distribución y Reparto de Encomiendas. WareSoffan™</label>
        </div>

    </div>
        

</div>