<div class="container-grid">
    
    <!-- container-navbar -->
    <section class="hero is-small container-navbar">
        <app-navbar></app-navbar>
    </section>

    <!-- container-panel-control -->
    <div class="container-panel-control">
        <app-driver-panel></app-driver-panel>
    </div>

    <!-- container-topfive -->
    <div class="container-topfive">
        <app-driver-topfive></app-driver-topfive>
    </div>

    <!-- container-back -->
    <div class="columns container-final">

        <!-- container-table -->
        <div class="column is-four-fifths container-table">
            <div class="box">
                <app-driver-table></app-driver-table>
            </div>
        </div>

        <!-- container-buttons-exports -->
        <div class="column container-buttons">
            <div class="box"></div>
        </div>

    </div>

</div>