<div class="card container-card">
    <header class="card-header">
        <p class="card-header-title">
            Panel de Control - Estado de encomiendas
        </p>
    </header>
    <div class="card-content">
        <div class="media">
            <div class="card-image media-left">
                <figure class="image is-128x128">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content media-content">
                <p>Módulo en el que podrás ver y actualizar el estado de la carga.</p>
            </div>
        </div>
        <!-- <app-load-add-form></app-load-add-form> -->
</div>

