<div class="tabs">
    <ul>
        <li>
            <a>
                <span class="icon"><i class="fas fa-home"></i></span>
                <span routerLink="/Dashboard">Dashboard</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="fas fa-truck"></i></span>
                <span routerLink="/Driver">Conductores</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="fas fa-dolly"></i></span>
                <span routerLink="/Supplier">Proveedores</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="fas fa-boxes"></i></span>
                <span routerLink="/Load">Asignar cargas</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon"><i class="fas fa-dolly-flatbed"></i></span>
                <span routerLink="/Status">Status cargas</span>
            </a>
        </li>
    </ul>
</div>
