<!-- container-grid -->
<div class="container-grid">
    
    <!-- container-navbar -->
    <div class="container-navbar">
        <app-navbar></app-navbar> 
    </div>

    <!-- container-title and subtitle -->
    <div class="container-title">
        <app-dash-title></app-dash-title>
    </div>

    <!-- container-description -->
    <div class="column container-description">
        <div class="box">
            <app-dash-description></app-dash-description>
        </div>
    </div>

    <!-- graphic-driver -->
    <div class="container-graphic-driver">
        <app-graphic-driver></app-graphic-driver>
    </div>

    <!-- graphic-suplier -->
    <div class="container-graphic-supplier">
        <app-graphic-supplier></app-graphic-supplier>
    </div>

    <!-- container final -->
    <div class="container-final">
        <label for="" class="label">Software de Inventario y Generación de Reportes para Distribución y Reparto de Encomiendas. WareSoffan™</label>
    </div>
    
</div>