<!-- container-navbar -->
<section class="hero is-small">

    <!-- section-navbar -->
    <app-navbar></app-navbar>    
</section>

<!-- container-principal -->
<div class="columns is-gapless is-multiline is-mobile">

    <!-- container-title and subtitle -->
    <div class="column is-half">
        <app-dash-title></app-dash-title>
    </div>

    <!-- container-description -->
    <div class="column">
        <div class="box">
            <app-dash-description></app-dash-description>
        </div>
    </div>

    <!-- graphic-driver -->
    <div class="column is-half">
        <app-graphic-driver></app-graphic-driver>
    </div>

    <!-- graphic-suplier -->
    <div class="column is-half">
        <app-graphic-supplier></app-graphic-supplier>
    </div>

    <!-- container final -->
    <div class="column">
        <div class="box">

        </div>
    </div>

</div>