<div class="columns is-multiline container-columns">
    <div class="column is-full">
        <app-navbar></app-navbar>
    </div>
    <div class="column is-two-fifths">
        <app-load-panel></app-load-panel>
    </div>
    <div class="column">
        <div class="card">
            <!-- container-title -->
            <header class="card-header">
                <p class="card-header-title">
                    Card-title
                </p>
            </header>

            <div class="card-content">
                <!-- <app-driver-topfive></app-driver-topfive> -->
            </div>
        </div>
    </div>
    <div class="column is-full">
        <div class="box">
            <app-load-table></app-load-table>
        </div>
    </div>
    <div class="column is-full has-text-centered">
        <label class="label">Software de Inventario y Generación de Reportes para Distribución y Reparto de Encomiendas. WareSoffan™</label>
    </div>
</div>
