<div class="columns is-fullwidth">
    <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Cantidad entregada</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let driver of listDrivers">
                <td>{{ driver.rut }}</td>
                <td>{{ driver.name }}</td>
                <td>{{ driver.lastname }}</td>
                <td>{{ driver.phone }}</td>
                <td>{{ driver.total_load }}</td>
                <td>
                    <button class="button is-small" (click)="editDriver(driver)">Editar</button>
                    <button class="button is-small" (click)="deleteDriver(driver)">Delete</button>
                    <button class="button is-small" routerLink="/Profile/{{driver.rut}}">Profile</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-update-form [updateDriver]="driverEdit"></app-update-form>
<app-delete-form [deleteDriver]="driverDelete"></app-delete-form>
