<div class="card-footer">
    <button class=" button is-primary m-2" (click)="launchModal()">Agregar</button>

    <div class="modal" id="addDriverService">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Agregar Conductores</p>
                <button class="delete" aria-label="close" (click)="launchModal()"></button>
            </header>

            <section class="modal-card-body">
                <form #formAddDriver="ngForm" (ngSubmit)="addDriver(formAddDriver)">
                    <div class="field">
                        <label for="" class="label">Nombres</label>
                        <input type="text" class="input" placeholder="Daniel Alonso" name="name_driver" [(ngModel)]="newDriver.name">
                    </div>

                    <div class="field">
                        <label for="" class="label">Apellidos </label>
                        <input type="text" class="input" placeholder="Burgos Moreno" name="name_driver" [(ngModel)]="newDriver.lastname">
                    </div>

                    <div class="columns is-fullwidth">
                        <div class="column is-8">
                            <div class="field">
                                <label for="" class="label">Rol único nacional</label>
                                <input type="text" placeholder="17670744" class="input" name="rut_driver" [(ngModel)]="newRut.rut">
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="field">
                                <label for="" class="label">Dígito</label>
                                <input type="text" class="input" placeholder="5" name="digito_driver" [(ngModel)]="newRut.digito">
                            </div>
                        </div>                        
                    </div>

                    <div class="columns is-fullwidth">
                        <div class="column">
                            <label for="" class="label">Teléfono</label> 
                            <div class="field has-addons">                                                               
                                    <p class="button is-static">
                                        +56 9
                                    </p>
                                    <input type="text" class="input" placeholder="93340575" name="phone_driver" [(ngModel)]="newDriver.phone">
                            </div>                            
                        </div>
                    </div>

                    <button class="button is-primary mt5 is-fullwidth">Guardar conductor</button>
                </form>
                <button class="button is-danger is-fullwidth mt-5" (click)="launchModal()">Cancelar</button>
            </section>
        </div>
    </div>
</div>