<div class="columns is-mobile">

    <div class="column">
        <app-graphic-load></app-graphic-load>
    </div>

    <div class="column">
        <app-graphic-finances-supplier></app-graphic-finances-supplier>
    </div>

    <div class="column">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    Best Driver
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-third-card></app-third-card>
                </div>
            </div>        
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    Card 4
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <app-fourth-card></app-fourth-card>
                </div>
            </div>        
        </div>
    </div>

</div>