<div class="columns is-gapless is-multiline is-mobile">
    <div class="column is-full">
        <app-navbar></app-navbar>
    </div>
    <div class="column is-full">
        <app-subnavbar></app-subnavbar>
    </div>
    <div class="column is-one-quarter">
        <div class="card">
            <app-graphic-load></app-graphic-load>
        </div>        
    </div>

    <div class="column is-one-quarter">
        <div class="card">
            <app-graphic-finances></app-graphic-finances>
        </div>        
    </div>

    <div class="column is-one-quarter">
        <div class="card">
            <app-graphic-finances-supplier></app-graphic-finances-supplier>            
        </div>
    </div>
    <div class="column is-one-quarter">
        <div class="card">
            <app-graphic-finances-result></app-graphic-finances-result>
        </div>
    </div>
    <div class="column is-half">
        <app-graphic-driver></app-graphic-driver>
    </div>
    <div class="column is-half">
        <app-graphic-supplier></app-graphic-supplier>
    </div>
    <div class="column is-full">
        <app-footer></app-footer>
    </div>
</div>

