<div class="columns is-multiline container-columns">
    <div class="column is-full">
        <app-navbar></app-navbar>
    </div>
    <div class="column is-full">
        <app-subnavbar></app-subnavbar>
    </div>
    <div class="column is-full is-align-items-center has-background-primary">
        <app-dash-description></app-dash-description>        
    </div>
    <div class="column is-half">
        <app-graphic-driver></app-graphic-driver>
    </div>
    <div class="column is-half">
        <app-graphic-supplier></app-graphic-supplier>
    </div>
    <div class="column is-full">
        <app-footer></app-footer>
    </div>
</div>
