<div class="columns is-multiline container-columns">
    <div class="column is-full">
        <app-navbar></app-navbar>
    </div>
    <div class="column is-two-fifths">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="card-image media-left">
                            <figure class="image is-128x128 container-figure"></figure>
                        </div>
                        <div class="card-content media-content">
                            <p><strong>RUT:</strong> {{datos.rut}}</p> 
                            <p><strong>Nombre:</strong> {{datos.name}}</p>
                            <p><strong>Apellidos:</strong> {{datos.lastname}}</p>
                            <p><strong>Teléfono:</strong> {{datos.phone}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column has-background-info">
        <button class="button" (click)="exportAsXLSX()">Export to Excel</button>
    </div>
    <div class="column is-full">
        <div class="box">
            <div class="box">
                <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-centered" id="table-driver">
                    <thead>
                        <tr>
                            <th>Fecha asignación</th>
                            <th>Cantidad asignada</th>
                            <th>Proveedor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detalle of detalleConductor">
                            <td>{{ detalle.date_load }}</td>
                            <td>{{ detalle.amount_load }}</td>
                            <td>{{ detalle.name_supplier }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="column is-full has-text-centered">
        <label class="label">Software de Inventario y Generación de Reportes para Distribución y Reparto de Encomiendas. WareSoffan™</label>
    </div>
</div>
