<div class="columns">
    <div class="column">
        <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-centered">
            <thead>
                <tr>
                    <th>Proveedor</th>
                    <th>Costo Empresa</th>
                    <th>Beneficio Empresa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let finance of listFinances">
                    <td>{{ finance.name_supplier }}</td>
                    <td>{{ finance.cost_empresa | conversion}}</td>
                    <td>{{ finance.benefit_empresa | conversion}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="column is-9">
        <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-centered">
            <thead>
                <tr>
                    <th>RUN</th>
                    <th>Nombre</th>
                    <th>Beneficio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let finance_driver of listFinancesDriver">
                    <td>{{ finance_driver.rut }}</td>
                    <td>{{ finance_driver.name }}</td>
                    <td>{{ finance_driver.benefit_driver | conversion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
