<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            Benefit Empresa by Supplier
        </div>
    </div>
    <div class="card-content">
        <canvas baseChart 
                [datasets]="barChartData" 
                [labels]="barChartLabels" 
                [options]="barChartOptions"
                [chartType]="barChartType"                
                [colors]="barChartColors"
                >
            </canvas>
    </div>        
</div>
