<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            Best Supplier
        </div>
    </div>
    <div class="card-content">
        <div class="box">
            <canvas baseChart 
                [datasets]="barChartData" 
                [labels]="barChartLabels" 
                [options]="barChartOptions"
                [chartType]="barChartType" 
                [legend]="barChartLegend"
                >
            </canvas>
        </div>
    </div>        
</div>
