<div id="updateStatusLoadModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Update assigment load</p>
            <button class="delete" aria-label="close" (click)="updateStatusLoadModal()"></button>
        </header>

        <section class="modal-card-body">
            <form #formUpdateStatusLoad="ngForm" (ngSubmit)="update_status_load(formUpdateStatusLoad)">
                
                <fieldset disabled>
                    <div class="field">
                        <label for="" class="label">Número Orden</label>
                        <input type="text" class="input" name="orden"  
                        [placeholder]="updateStatusLoad.orden">
                    </div>
                </fieldset>
                
                <div class="field">
                    <label for="" class="label">Encomiendas entregadas</label>
                    <input 
                    type="number" class="input" name="amount_delivery" 
                    [(ngModel)]="updateStatusLoad.delivery"
                    [value]="updateStatusLoad.delivery" min="0" [max]="updateStatusLoad.not_delivery"
                    onkeypress="return (event.charCode==8 || event.charCode==0 || event.charCode==13) ? null : event.charCode>=48 && event.charCode<=57"
                    >
                </div>
                <fieldset disabled>
                    <div class="field">
                        <label for="" class="label">Encomiendas no entregas</label>
                        <input type="text" class="input" name="amount_not_delivery"  
                        [placeholder]="updateStatusLoad.not_delivery">
                    </div>
                </fieldset>

                <button class="button is-primary mt5 is-fullwidth">Guardar</button>
            </form>
            <button class="button is-danger is-fullwidth mt-5" (click)="updateStatusLoadModal()">Cancelar</button>
        </section>
    </div>

</div>
