<div class="card container-card">
    <header class="card-header">
        <p class="card-header-title">
            Panel de Control - Repartidores
        </p>
    </header>
    <div class="card-content">
        <div class="media">
            <div class="card-image media-left">
                <figure class="image is-128x128 container-figure"></figure>
            </div>
            <div class="card-content media-content">
                <p>Módulo en el que podrás almacenar tus repartidores a la base de datos.</p>
            </div>
        </div>
        <!-- <app-add-form></app-add-form>
        <app-upload-form></app-upload-form> -->
    </div>
    <!-- <app-add-form></app-add-form>
    <app-upload-form></app-upload-form> -->
    <footer class="card-footer">
        <app-add-form></app-add-form>
        <app-upload-form></app-upload-form>
        <div class="card-footer">
            <button class="button is-primary m-2" (click)="exportExcel()">Exportar a Excel</button>
        </div>
    </footer>
</div>

