.container-img {
    /* background-color: black; */
    height: 28px;
    width: 112px;
    background-image: url('../../public/img/logo_640x160.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}