<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            Total encomiendas
        </div>
    </div>
    <div class="card-content">
        <div class="box outer">
            <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnytChartOptions"
                [colors]="doughnutChartColors"      
            >
            </canvas>
            <p class="percent">{{totalPorcentage}}%</p>
        </div>
    </div>        
</div>
