<div class="card-content">
    <div class="level is-justify-content-center">
        <div class="level-left">
            <div class="buttons is-centered">
                <button class="button is-small" >All drivers</button>
                <button class="button is-small" >Five drivers</button>                
                <!-- <button class="button is-small" (click)="obtenerDetalleConductor()">This week</button> -->
            </div>
        </div>
    </div>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
    ></canvas>
</div>
