<div class="card-footer">
    <button class="button is-primary is-fullwidth" (click)="launchModal()">Agregar</button>

    <div class="modal" id="addDriverService">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Agregar Usuarios</p>
                <button class="delete" aria-label="close" (click)="launchModal()"></button>
            </header>

            <section class="modal-card-body">
                <form #formAddUser="ngForm" (ngSubmit)="signInUser(formAddUser)">
                    <div class="field">
                        <label for="" class="label">Usuario</label>
                        <input type="text" class="input" placeholder="Username" name="username" [(ngModel)]="userTemplate.username">
                    </div>

                    <div class="field">
                        <label for="" class="label">Email</label>
                        <input type="email" class="input" placeholder="email@emgail.com" name="email" [(ngModel)]="userTemplate.email">
                    </div>

                    <div class="field">
                        <label for="" class="label">Contraseña</label>
                        <input type="password" placeholder="password" class="input" name="password" [(ngModel)]="userTemplate.password">
                    </div>

                    <div class="field">
                        <label for="" class="label">Tipo de Rol</label>
                        <div class="select is-fullwidth">
                            <select name="roles" [(ngModel)]="userTemplate.roles">
                                <option [value]="rol.role" *ngFor="let rol of typeRole">{{ rol.role }}</option>
                            </select>
                        </div>
                    </div>

                    <button class="button is-primary mt5 is-fullwidth">Guardar conductor</button>
                </form>
                <button class="button is-danger is-fullwidth mt-5" (click)="launchModal()">Cancelar</button>
            </section>
        </div>
    </div>
</div>
