<div class="columns is-fullwidth">
    <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Nombre</th>
                <th>Tipo proveedor</th>
                <th>Total entregado</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of listSupplier">
                <td>{{ supplier.id_supplier }}</td>
                <td>{{ supplier.name_supplier }}</td>
                <td>{{ supplier.type_supplier }}</td>
                <td>{{ supplier.total_amount }}</td>
                <td *ngIf="supplier.statusSupplier == true; else _statusFalse">
                    <button class="button is-success is-light is-rounded is-small" (click)="editStatusSupplier(supplier)">Online</button>
                </td>
                <ng-template #_statusFalse>
                    <td>
                        <button class="button is-danger is-light is-rounded is-small" (click)="editStatusSupplier(supplier)">Offline</button>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>

<app-update-form [updateStatusSupplier]="statusSupplier"></app-update-form>
<!-- <app-delete-form [deleteDriver]="driverDelete"></app-delete-form> -->
