<div class="columns is-multiline is-mobile">
    <div class="column is-full">
        <app-navbar></app-navbar>
    </div>
    <div class="column is-full">
        <app-subnavbar></app-subnavbar>
    </div>
    <div class="column is-3">
        <app-dash-title></app-dash-title>
    </div>
    <div class="column is-9 is-align-items-center">
        <app-dash-description></app-dash-description>
    </div>
    <div class="column is-half">
        <div class="card">
            <div class="card-header">
                <div class="select is-fullwidth">
                    <select [(ngModel)]="numDrivers" class="has-text-centered">
                        <option value="0">Repartidores</option>
                        <!-- <option value="1">Drivers Monthly</option> -->
                        <option value="2">Estadísticas</option>
                    </select>
                </div>
                
            </div>
        </div>
        
        <div class="card" [ngSwitch]="numDrivers">
            <ng-template [ngSwitchCase]="0">
                <app-graphic-driver></app-graphic-driver>
            </ng-template>
            <ng-template [ngSwitchCase]="1">
                <app-graphic-driver-monthly></app-graphic-driver-monthly>
            </ng-template>
            <ng-template [ngSwitchCase]="2">
                <app-graphic-driver-bysupplier></app-graphic-driver-bysupplier>
            </ng-template>
        </div>
    </div>
    <div class="column is-half">
        <div class="card">
            <div class="card-header">
                <div class="select is-fullwidth">
                    <select [(ngModel)]="numSuppliers" class="has-text-centered">
                        <option value="0">Proveedores</option>
                        <!-- <option value="1">Suppliers Monthly</option> -->
                        <option value="2">Estadísticas</option>
                    </select>
                </div>
                
            </div>
        </div>
        <div class="card" [ngSwitch]="numSuppliers">
            <ng-template [ngSwitchCase]="0">
                <app-graphic-supplier></app-graphic-supplier>
            </ng-template>
            <ng-template [ngSwitchCase]="1">
                <app-graphic-driver-monthly></app-graphic-driver-monthly>
            </ng-template>
            <ng-template [ngSwitchCase]="2">
                <app-graphic-supplier-global></app-graphic-supplier-global>
            </ng-template>
        </div>        
    </div>
    <div class="column is-full">
        <app-footer></app-footer>
    </div>
</div>
