<div class="box">
    <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-centered">
            <thead>
                <tr>
                    <th>Orden</th>
                    <th>Fecha recepción</th>
                    <th>Conductor asociado</th>
                    <th>Proveedor</th>
                    <th>Carga recepcionada</th>
                    <th>Carga entregada</th>
                    <th>Carga no entregada</th> 
                    <th>Costo conductores</th> 
                    <th>Opciones</th>              
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let load of listLoads | paginate: {itemsPerPage: pageSize, currentPage: page}">
                    <td>{{ load.orden}}</td>
                    <td>{{ load.date_load | date:'mediumDate' }}</td>
                    <td>{{ load.run_driver }}</td>
                    <td>{{ load.razon_social }}</td>
                    <td>{{ load.amount_load }}</td>
                    <td>{{ load.amount_delivery }}</td>
                    <td>{{ load.amount_not_delivery }}</td>
                    <td>{{ load.cost_driver | conversion }}</td>
                    <td>
                        <button class="button is-small" (click)="detailLoad(load)">Detalle</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="columns is-fullwidth is-justify-content-center">
    <div class="box">
        <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
        ></pagination-controls>
    </div>
</div>

<app-load-detail [detail_Load]="detail"></app-load-detail>
