<div class="box">
    <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th>Id Asignación</th>
                <th>Fecha recepción</th>
                <th>Conductor asociado</th>
                <th>Id proveedor</th>
                <th>Carga recepcionada</th>
                <th>Carga entregada</th>
                <th>Carga no entregada</th> 
                <th>Costo conductores</th>               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let load of listLoads | paginate: {itemsPerPage: pageSize, currentPage: page}">
                <td>{{ load.id_load }}</td>
                <td>{{ load.date_load }}</td>
                <td>{{ load.rut_driver }}</td>
                <td>{{ load.id_supplier }}</td>
                <td>{{ load.amount_load }}</td>
                <td>{{ load.amount_delivery }}</td>
                <td>{{ load.amount_not_delivery }}</td>
                <td>{{ load.cost_driver }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="columns is-fullwidth is-justify-content-center">
    <div class="box">
        <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
        ></pagination-controls>
    </div>
</div>
