<div class="columns is-fullwidth">
    <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th>id_status_load</th>
                <th>amount_delivery</th>
                <th>amount_not_delivery</th>
                <th>id_load</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let status of listStatusLoads">
                <td>{{ status.id_status_load }}</td>
                <td>{{ status.amount_delivery }}</td>
                <td>{{ status.amount_not_delivery }}</td>
                <td>{{ status.id_load }}</td>
                <td>
                    <button class="button is-small" (click)="editStatus(status)">Editar</button>
                    <button class="button is-small">Delete</button>
                    <button class="button is-small">Profile</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-status-update-form [updateStatusLoad]="statusloadEdit"></app-status-update-form>
