<div class="box">
    <div class="column is-half is-offset-one-quarter">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <input class="input" type="text" placeholder="Search..." [(ngModel)]="filterTerm">
                </div>
        </div>
    </div>
</div>

<div class="box">    
    <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Encomiendas entregadas</th>
                <th>Encomiendas no entregadas</th>
                <th>Cargas recibidas</th>
                <th>Identificador carga</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let status of listStatusLoads | paginate: {itemsPerPage: pageSize, currentPage: page} | filter:filterTerm">
                <td>{{ status.id_status_load }}</td>
                <td>{{ status.delivery }}</td>
                <td>{{ status.not_delivery }}</td>
                <td>{{ status.received }}</td>
                <td>{{ status.id_load }}</td>
                <td>
                    <button class="button is-small" (click)="editStatus(status)">Editar</button>
                    <!-- <button class="button is-small">Delete</button>
                    <button class="button is-small">Profile</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="columns is-fullwidth is-justify-content-center">
    <div class="box">
        <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
        ></pagination-controls>
    </div>
</div>

<app-status-update-form [updateStatusLoad]="statusloadEdit"></app-status-update-form>
