<div class="container-grid">
    
    <!-- container-navbar -->
    <div class="container-navbar">
        <app-navbar></app-navbar> 
    </div>

    <!-- container-panel-control -->
    <div class="container-panel-control">
        <app-supplier-panel></app-supplier-panel>
    </div>

    <!-- container-topfive -->
    <div class="container-topfive">
        
        <!-- <div class="card">
            container-title
            <header class="card-header">
                <p class="card-header-title">
                    Top five drivers
                </p>
            </header>

            <div class="card-content">
                <app-driver-topfive></app-driver-topfive>
            </div>
        </div> -->
    </div>

    <!-- container-table -->
    <div class="container-table">
        <div class="box">
            <app-supplier-table></app-supplier-table>
        </div>
    </div>

    <!-- container-buttons-exports -->
    <div class="container-buttons">
        <div class="box"></div>
    </div>    

</div>
