<div class="columns is-multiline container-columns">
    <div class="column is-full">
        <app-navbar></app-navbar>
    </div>
    <div class="column is-full">
        <app-subnavbar></app-subnavbar>
    </div>
    <div class="column is-two-fifths">
        <app-supplier-panel></app-supplier-panel>
    </div>
    <div class="column">
        <div class="card">
            <!-- container-title -->
            <header class="card-header">
                <p class="card-header-title">
                    Top five supplier
                </p>
            </header>

            <div class="card-content">
                <!-- <app-driver-topfive></app-driver-topfive> -->
            </div>
        </div>
    </div>
    <div class="column is-full">
        <div class="box">
            <app-supplier-table></app-supplier-table>
        </div>
    </div>
    <div class="column is-full">
        <app-footer></app-footer>
    </div>
</div>