<section class="hero is-small">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="hero-body">
                <p class="title">
                    Status Load
                </p>
            </div>            
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Settings
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" routerLink="/Driver">
                            Driver
                        </a>
                        <a class="navbar-item" routerLink="/Supplier">
                            Supplier
                        </a>
                        <a class="navbar-item" routerLink="/Load">
                            Assing Load 
                        </a>
                        <a class="navbar-item" routerLink="/Dashboard">
                            Dashboard
                        </a>
                    </div> 
                </div>
            </div>
        </div>
        <app-navbar></app-navbar>
    </nav>
</section>
<div class="columns m-0">
    <div class="column is-half">
        <app-status-panel></app-status-panel>
    </div>
    <div class="column"></div>
    <div class="column is-two-fifths">
        <div class="box">        
        </div>
    </div>
</div>

<div class="columns m-0">
    <div class="column is-four-fifths">
        <div class="box">
            <app-status-table></app-status-table>
        </div>
    </div>
    <div class="column">
        <div class="box"></div>
    </div>
</div>
