<div class="columns is-gapless is-multiline is-mobile" *ngIf="showAdminBoard || showModeratorBoard">
    <div class="column is-full">
        <app-navbar></app-navbar>
    </div>
    <div class="column is-full">
        <app-subnavbar></app-subnavbar>
    </div>    
    <div class="column is-full">
        <app-status-table></app-status-table>
    </div>
    <div class="column is-full">
        <app-footer></app-footer>
    </div>
</div>

<div class="columns is-multiline" *ngIf=showUserBoard>
    <div class="column is-full">
        <app-navbar></app-navbar>
    </div>
    <div class="column is-full">
        <app-require-rol></app-require-rol>
    </div>
    <div class="column is-full">
        <app-footer></app-footer>
    </div>
</div>
