<div class="card container-card">
    <header class="card-header">
        <p class="card-header-title">
            Panel de control - Usuarios
        </p>
    </header>
    <div class="card-content">
        <div class="media">
            <div class="card-image media-left">
                <figure class="image is-128x128 container-figure"></figure>
            </div>
            <div class="card-content media-content">
                <p>Módulo en el que podrás administrar tus usuarios.</p>
            </div>
        </div>
        <app-register-form></app-register-form>
    </div>
</div>
